.ipad-system-color-palette.open-above {
  transform: translateY(-100%) scale(0.73125) !important;
  transform-origin: bottom center;
}

.ipad-system-color-palette.open-below {
  transform: scale(0.73125) !important;
  transform-origin: top center;
}

.ipad-system-eyedropper {
  visibility: hidden !important;
  pointer-events: none !important;
}
